.img-overlay {
    position: relative;
    max-width: 100%;
}

.img-overlay section {
    position: absolute;
    top: 0;
    background: linear-gradient(rgb(0,0,0,0.6), rgba(0,0,0,0));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .img-overlay section  {
        background: rgba(0,0,0,0.6);
    }
  }

.icon-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}  

.icon-cont > article {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 3em;
}
@media only screen and (max-width: 768px) {
    .icon-cont {
        flex-direction: column;
    }
    .icon-cont > article   {
        width: 50%;
        margin: 2em auto;
    }
  }


footer {
    height: auto;
}