.img-overlay {
    position: relative;
    max-width: 100%;
}

.img-overlay section {
    position: absolute;
    top: 0;
    background: linear-gradient(rgb(0,0,0,0.6), rgba(0,0,0,0));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .img-overlay section  {
        background: rgba(0,0,0,0.6);
    }
  }
footer {
    height: auto;
}